$White: hsl(0, 0%, 100%);
$lightGray: hsl(212, 45%, 89%);
$grayishBlue: hsl(220, 15%, 55%);
$darkBlue: hsl(218, 44%, 22%);

$paraFontSize: 15px;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

$fontFamily: "Outfit", sans-serif;
